# QUESTION 01: my_tuple = ( (1, 2, 3), [4, 5, 6], (&#39;apple&#39;, &#39;banana&#39;, &#39;cherry&#39;), [7, 8, 9] )

In [ ]:
# Print all elements from my_tuple on a new line (using for loop)
# Create a new tuple by concatenating the first and last elements of my_tuple

In [26]:
# Input
my_tuple=((1,2,3),[4,5,6,],("apple","banana","cherry"),[7,8,9])

# Print using for loop
for element in my_tuple:
    print(element)

# Print first and last element in a tuple
new_tuple=my_tuple[0]+tuple(my_tuple[-1])
print(new_tuple)

(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]
(1, 2, 3, 7, 8, 9)

# QUESTION 02:inventory = { &quot;The Great Gatsby&quot;: {&quot;price&quot;: 10.99, &quot;quantity&quot;: 5}, &quot;Rich dad poor dad&quot;: {&quot;price&quot;:8.99, &quot;quantity&quot;: 8}, &quot;Harry Potter&quot;: {&quot;price&quot;: 12.50, &quot;quantity&quot;: 2}, }

In [ ]:
# Add a new book in inventory using method and get all book titles using method
# Remove a book if it&#39;s out of stock

In [77]:
# Input
inventory={
         "The Great Gatsby":{"price":10.99,"quantity":5},
        "Rich dad poor dad":{"price":8.99,"quantity":8},
        "Harry Potter":{"price":12.50,"quantity":2}
        }

# Add a New book
inventory["To Kill a Mockingbird"]={"price":18.99,"quantity":5}

# Display all Book Titles
book_titles=list(inventory.keys())

# Loop to remove out of stock books
for book in list(inventory):
    if inventory[book]['quantity']==0:
        del inventory[book]

# Display the Output
for books_titles,details in inventory.items():
    print(f"Book Titles{books_titles}")
    for key,values in details.items():
        print(f"{key.capitalize()}:{values}")
    print()
    
# Print as a dictionary
print (inventory)

Book TitlesThe Great Gatsby
Price:10.99
Quantity:5

Book TitlesRich dad poor dad
Price:8.99
Quantity:8

Book TitlesHarry Potter
Price:12.5
Quantity:2

Book TitlesTo Kill a Mockingbird
Price:18.99
Quantity:5

{'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}, 'To Kill a Mockingbird': {'price': 18.99, 'quantity': 5}}

# QUESTION 03: An ecommerce store stores information about its products in a nested dictionary. The outer dictionary uses product IDs as keys, and the inner dictionary stores product details like name, category, price, and stock quantity.

In [ ]:
# products = { 101: {"name": "Laptop","category": "Electronics", "price": 1200,"stock": 50}, 102:
# {"name":"Shirt","category":"Apparel","price": 25, "stock": 200}, 103: {"name": "Coffee Maker",
# "category":"Home Appliances", "price": 80, "stock": 30} }

In [ ]:
# Increase the stock of the "Shirt" product (add 50 more units)
# Add a new product (e.g.,"Smartphone")

In [65]:
# Input
products={
    101:{"Name":"Laptop","Category":"Electronics","Price":250,"Stock":20},
    102:{"Name":"Shirt","Category":"Apperals","Price":25,"Stock":40},
    103:{"Name":"Ring","Category":"Jewllery","Price":1500,"Stock":10}
}

# Now Increase ths stock of shirts by 50
products[102]["Stock"]+=50

# Add a new product in category
products[104]={"Name":"Smartphone","Category":"Electronics","Price":600,"Stock":30}

# print the Output
for products_id,details in products.items():
    print(f"Product ID:{products_id}")
    for key,values in details.items():
        print(f"{key.capitalize()}:{values}")
    print()

# Print as a dictionary
print(products)

Product ID:101
Name:Laptop
Category:Electronics
Price:250
Stock:20

Product ID:102
Name:Shirt
Category:Apperals
Price:25
Stock:90

Product ID:103
Name:Ring
Category:Jewllery
Price:1500
Stock:10

Product ID:104
Name:Smartphone
Category:Electronics
Price:600
Stock:30

{101: {'Name': 'Laptop', 'Category': 'Electronics', 'Price': 250, 'Stock': 20}, 102: {'Name': 'Shirt', 'Category': 'Apperals', 'Price': 25, 'Stock': 90}, 103: {'Name': 'Ring', 'Category': 'Jewllery', 'Price': 1500, 'Stock': 10}, 104: {'Name': 'Smartphone', 'Category': 'Electronics', 'Price': 600, 'Stock': 30}}

# QUESTION 04: You are given a list that contains some duplicate items. Remove the duplicates by converting the list to a set.

In [ ]:
# shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

In [84]:
# Input
shopping_list=["apple","banana","apple","orange","banana","grapes"]

# Convert list to set
unique_items=set(shopping_list)

# Output
print(unique_items)

{'orange', 'banana', 'grapes', 'apple'}

# QUESTION 05: You are managing a list of students enrolled in two different courses. You need to perform various set operations to understand the student enrollment. Task: Create two sets: one for students in &quot;Course A&quot; and one for students in &quot;Course B&quot;. Find the students who are in &quot;Course A&quot; but not in &quot;Course B&quot; (difference). Find students who are only in one of the two courses (symmetric difference). course_a = {&quot;John&quot;, &quot;Alice&quot;, &quot;Bob&quot;, &quot;David&quot;} course_b = {&quot;Alice&quot;, &quot;Eve&quot;, &quot;Charlie&quot;, &quot;David&quot;}

In [ ]:
# Find students who are in Course A but not in Course B (difference)

In [95]:
# Input
course_a={"John","Alice","Bob","David"}
course_b={"Alice","Eve","Charlie","David"}

# Checking students in course A but not in course B  (difference)
students_in_course_a_but_not_b=course_a - course_b

# Checking students who are in only one of the courses  (symemetric difference)
students_in_either_course_not_both=course_a ^ course_b

# Print Output
print("Students In Course A But Not In Course B:",students_in_course_a_but_not_b)
print("Students In Either Courses But Not Both:",students_in_either_course_not_both)

Students In Course A But Not In Course B: {'Bob', 'John'}
Students In Either Courses But Not Both: {'Eve', 'Charlie', 'John', 'Bob'}

# QUESTION 06: Write a Python program that calculates the sum of all even numbers between 1 and 50 (inclusive) using a for loop.

In [ ]:
# Hint
# 1. Initialize a variable to hold the sum (e.g., sum_of_evens).
# 2. Use a for loop to iterate through all numbers from 1 to 50.
# 3. Inside the loop, check if the number is even.
# 4. If the number is even, add it to sum_of_evens.
# 5. After the loop finishes, print the total sum of all even numbers between 1 and 50.

In [107]:
# Input
sum_of_evens=0
even_numbers=[]

# Use for loop to iterate all numbers from 1 to 50
for numbers in range(1,51): # Range on numbers
    if numbers%2==0: # Find even numbers
        even_numbers.append(numbers) # Even Numbers
        sum_of_evens+=numbers  # Add all the numbers

# Print the sum of all even numbers from 1 to 50
print("Even Numbers:",even_numbers)  # Display list of even numbers
print("Sum Of Even Numbers From 1 to 50:",sum_of_evens)

Even Numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]
Sum Of Even Numbers From 1 to 50: 650

# QUESTION 07: Write a Python program that prints the multiplication table for a given number (between 1 and 10) using a for loop.

In [ ]:
# Hint:
# 1. Ask the user for a number between 1 and 10 .
# 2. Use a for loop to iterate through the numbers from 1 to 10.
# 3. For each iteration, calculate the product of the given number and the current number in the loop.
# 4. Print the result in a readable format (e.g., 5 x 1 = 5).
# 5. Ensure the program works correctly for any number between 1 and 10.

In [3]:
# Input
number=int(input("Enter A Number Between 1 to 10:"))

# Check if the number is between 1 to 10
if 1<= number <=10:

# Use for loop to generate table
    for i in range(1,11):
        product=number*i
        print(f"{number}x{i}={product}")
else:
    print("Number is out of range")

Enter A Number Between 1 to 10: 3

3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
3x10=30

# QUESTION 08: Power of a Number Write a Python program that takes a number and prints the powers of the number (starting from 1 to 10) using a while loop. For example, if the user inputs 3, the output should be:

In [9]:
# Input
number=int(input("Enter A Number Between 1 to 10:"))

# Initialize expoenet power
exponent=1

# Use while loop to print power of a number
while exponent<=10:
    result=number**exponent
    print(f"{number}^{exponent}={result}")
    exponent+=1

Enter A Number Between 1 to 10: 7

7^1=7
7^2=49
7^3=343
7^4=2401
7^5=16807
7^6=117649
7^7=823543
7^8=5764801
7^9=40353607
7^10=282475249

# QUESTION 09: Problem Statement: Write a Python program that takes an integer input from the user and counts down from that number to 0. The program should display the current number at each step until it reaches 0, at which point it should print a message indicating the countdown is finished

In [1]:
# Input
integer=int(input("Enter A Number:"))

# Use while loop 
while integer >=0:
    print(integer)
    integer-=1

# Print Output
print("Count Down Finished")

Enter A Number: 4

4
3
2
1
0
Count Down Finished

# QUESTION 10: Write a Python program that takes an integer input n from the user and generates a right-angled triangle pattern of stars (*) with n rows. The first row should contain 1 star, the second row 2 stars, the third row 3 stars, and so on until the nth row.

In [ ]:
# Ensure the stars in each row are separated by spaces, and each row starts on a new line.

In [13]:
# Input
number=int(input("Enter A Number:"))

# Use for loop to generate * on each line
for i in range(1,number+1):

# Print (*) for the given number of rows
    print(" ".join(["*"]*i))

Enter A Number: 6

*
* *
* * *
* * * *
* * * * *
* * * * * *